@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: oddval;
  src: url(./Fonts/Oddval-Variable-VF.ttf);
}

@layer utilities {
  .font-secondary{
    font-family: oddval;
  }
}

:root {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.4;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


a {
  @apply cursor-pointer hover:text-blue-300 transition-all;
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #121212;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button{
  @apply bg-white/5 backdrop-blur-sm rounded-lg text-base font-semibold text-white border-2 border-white/40 px-5 py-2 cursor-pointer hover:bg-white hover:text-zinc-950 transition-all duration-200;
}

.text__line {
  font-variation-settings: "wght" 100, "ital" 0;
  font-family: Oddval;
  line-height: 80%;
  color: #ffffff;
  white-space: nowrap;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-name: change;
  transition-timing-function: ease;
}

@keyframes change {
  0% {
    font-variation-settings: "wght" 100, "ital" 0;
  }

  25% {
    font-variation-settings: "wght" 900, "ital" 0;
  }

  50% {
    font-variation-settings: "wght" 900, "ital" 1;
  }

  75% {
    font-variation-settings: "wght" 100, "ital" 1;
  }

  100% {
    font-variation-settings: "wght" 100, "ital" 0;
  }
}